<div class="row">
    <form class="login form-horizontal col-md-6" name="login-form">
        <fieldset>
            <legend><h2>Login</h2></legend>
            <div class="form-group">
                <label for="login-username" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-8">
                    <input ng-model="user.username" type="text" class="form-control" id="login-username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="login-password" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-8">
                    <input ng-model="user.password" type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="button" class="btn btn-lg btn-primary" ng-click="login(user, login-form)" >Login</button>
                <span>or</span>
                <a href="#/register">Register</a>
            </div>
        </div>
    </form>
</div>