$background-1: #363945;
$background-light-1: #f7f7f7;
$text-1: #cdcdcd;
$text-2: #a4a9ba;
$text-3: #62687a;
$text-4: #494e5c;
$text-5: #2b2e36;
$color-white: #fff;
$color-yellow-dark: #ffe16e;
$color-warning: #ffd32a;
$color-red-light: #e55039;
$color-light-dark: #616572;
$shadow-all-sides: 0 .1rem 1rem 0 rgba(0, 0, 0, 0.15)
