<div class="navbar navbar-default navbar-fixed-top"  >
    <div class="navbar-header ">
        <div class="container ">
            <div class="row">
                <div class="col-md-6" ng-controller="FilterByAddressController">
                   <input type="text" data-ng-model="address_query" ng-change="addressSearchQuery()"/>
                </div>
                <div class="col-md-6" ng-controller="FilterByRoomsController">
                    <div>
                        <select data-ng-model="filterRooms" ng-change="roomsSelectionChanged()">
                            <option value="{{undefined}}">All</option>
                            <option ng-repeat="n in [].constructor(20) track by $index">{{$index+1}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>