

<div class="modal-header">
    <h3 class="modal-title">Are you sure you want to this ad.</h3>


    <button class="btn btn-warning" ng-click="closeModal()">Close</button>
</div>

<div class="modal-body">
    <div class="panel panel-success">
        <div class='panel-body'>
            <div class='row'>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Time</th>
                            <th>Host</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schedule in schedules" >
                            <td>{{schedule.name}}</td>
                            <td>{{schedule.time | date:"ha"}}</td>
                            <td>
                                {{ getDisplayValue(schedule.hostId) }}
                                <div class='form-group'><a type="submit"  data-ng-click="deleteSchedule(schedule)" class="btn btn-ads" data->Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='row'>
                <div class="col-md-6">
                    <input type="text" data-ng-model="scheduleData.name" placeholder="name" />
                </div>
                <div class="col-md-3">
                    <!--<input type="time" data-ng-model="scheduleData.time" string-to-timestamp />-->


                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:;">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="scheduleData.time" format-date-time>
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="scheduleData.time" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>


                </div>
                <div class="col-md-3">
                    <select ng-if="hosts" ng-init="scheduleData.hostId = hosts[0].id" data-ng-model="scheduleData.hostId" convert-to-number>
                        <option ng-repeat="host in hosts" value="{{host.id}}">{{host.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class='form-group'><a type="submit"  data-ng-click="addSchedule()" class="btn btn-ads" data->Add Viewing</a>
                </div>
            </div>
        </div>
            <!--<div class='panel-heading centered'><legend>Confirm {{action.toLowerCase()}} Ad?</legend></div>-->
            <!--<div class='row'>-->
                <!--<div class="col-md-8 word-wrap-break " >-->
                    <!--<h3 class="ad-title">{{currentAd.title}}</h3>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-4 col-xs-12 pull-right">-->
                    <!--<span class="text-info pull-right"> {{currentAd.date | date:"EEE dd-MMM-yyyy"}} </span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class='row'>-->
                <!--<div class='col-md-3 image-container'>-->
                    <!--<img src="" class="ad-image img-responsive" data-ng-src="{{currentAd.imageDataUrl}}">-->
                    <!--<img src="" class="ad-image img-responsive" alt="" data-ng-if="!currentAd.imageDataUrl" data-ng-src="img/no_image.jpg"/>-->
                <!--</div>-->
                <!--<div class='col-md-7 word-wrap-break' >-->
                    <!--<div class='well'>-->
                        <!--{{currentAd.text}}-->
                    <!--</div>-->
                    <!--<div class='row'>-->
                        <!--<div class='col-md-4 pull-left '>-->
                            <!--Category:-->
                        <!--</div>-->
                        <!--<div class='col-md-8 '>-->
                            <!--<div class='form-control'>{{currentAd.categoryName}}</div>-->
                        <!--</div>-->
                        <!--<div class='col-md-4'>-->
                            <!--Town:-->
                        <!--</div>-->
                        <!--<div class='col-md-8'>-->
                            <!--<div class='form-control'>{{currentAd.townName}}</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
