
<article class="post well">
    {{#results}}

    <header class="post-header">
        <div class="post-image">
            <img class="mini-thumbnail" src={{createdBy.picture}}>
        </div>
        <div class="post-info">
            <p><a href="#" class="profile-link" data-id={{createdBy.objectId}}>{{createdBy.name}}</a> made a post</p>
            <p>on <time>{{createdAt}}</time></p>
        </div>
    </header>
    <section class="post-content">
        <p>{{content}}</p>
    </section>
    {{/results}}
</article>
